version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ee:15.0.1-ee.0
    container_name: gitlab
    restart: always
    hostname: gitlab.local
    privileged: true
    userns_mode: host
    security_opt:
      - label=disable
      - seccomp=unconfined
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.local'
        gitlab_rails['gitlab_shell_ssh_port'] = 2222
        gitlab_rails['time_zone'] = 'Asia/Seoul'
        
        # 성능 최적화 (소규모 팀)
        puma['worker_processes'] = 2
        sidekiq['max_concurrency'] = 10
        prometheus_monitoring['enable'] = false
    ports:
      - '80:80'
      - '443:443'
      - '2222:22'
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    networks:
      - gitlab-network
    shm_size: '256m'

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner
    restart: always
    privileged: true
    security_opt:
      - label=disable
    volumes:
      - gitlab_runner_config:/etc/gitlab-runner
      - /var/run/podman/podman.sock:/var/run/docker.sock
    networks:
      - gitlab-network
    depends_on:
      - gitlab

networks:
  gitlab-network:
    driver: bridge

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:
  gitlab_runner_config:

# podman exec gitlab cat /etc/gitlab/initial_root_password
# Password: PgRDAyI9RKgoTQ/P46sSDdPS64KVSeExLSvQg5UOSxM=

# podman exec gitlab-runner gitlab-runner register --non-interactive --url "http://gitlab" --registration-token "GR1348941Pc999zNbGbp6_a3XDbWr" --executor "docker" --docker-image "gradle:7.6-jdk8" --description "docker-runner" --tag-list "docker,gradle" --docker-privileged --docker-network-mode "cicd-exercise_gitlab-network" --docker-volumes "/cache" --docker-volumes "/var/run/docker.sock:/var/run/docker.sock" --clone-url "http://gitlab"


#podman cp config.toml gitlab-runner:/etc/gitlab-runner/config.toml
#podman exec gitlab-runner cat /etc/gitlab-runner/config.toml
#podman restart gitlab-runner